<h1>Accounts</h1>
<div class="error_box">
  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>
</div>

<div class="search_box">
  <%= form_with :method => :get do |form| %>
    <div class="form_pair">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, :value => params[:name] %>
    </div>
    
    <div class="form_pair">
    <%= form.label :surname, "Surname" %>
    <%= form.text_field :surname, :value => params[:surname] %>
    </div>

    <div class="form_pair">
    <%= form.label :fiscalcode, "Fiscal Code" %>
    <%= form.text_field :fiscalcode, :value => params[:fiscalcode] %>
    </div>

    <div class="form_pair">
    <%= form.submit "filter" %>
    <%= form.submit "clean" %>
  <% end %>
</div>

<div class="create_box">
  <%= form_with :method => :post do |form| %>
    <div class="form_pair">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
    </div>
    
    <div class="form_pair">
    <%= form.label :surname, "Surname" %>
    <%= form.text_field :surname %>
    </div>

    <div class="form_pair">
    <%= form.label :fiscalcode, "Fiscal Code" %>
    <%= form.text_field :fiscalcode %>
    </div>

    <div class="form_pair">
    <%= form.submit "create" %>
    <%= form.submit "clean", :type => "reset" %>
  <% end %>
</div>

<div class="accounts_div">
  <table class="accounts_table">
    <thead>
      <th>fiscalcode</th>
      <th>name</th>
      <th>surname</th>
      <th>actions</th>
    </thead>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.fiscalcode %></td>
        <td><%= account.name %></td>
        <td><%= account.surname %></td>
        <td><%= link_to "show", account_path(account) %></td>
      </tr>
    <% end %>
  </table>
</div>
