<h1>Account Details</h1>
<ul>
  <li>Name: <%= @account.name %></li>
  <li>Surname: <%= @account.surname %></li>
  <li>CF:  <%= @account.fiscalcode %></li>
  <li>Credit: <%= @account.credit %></li>
  <li>ID: <%= @account.id %></li>
  <%= button_to "delete", {:controller => :accounts, :action => 'destroy', :id => @account.id }, :method => :delete %>
</ul>
